<!DOCTYPE html>
<html lang="zh" xmlns:th="https://www.thymeleaf.org/">
<head>
    <title>宠物管理-修改宠物信息</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{'/bootstrap/css/bootstrap.css'}">
    <script type="text/javascript" th:src="@{'/js/jquery-3.6.0.js'}"></script>
</head>
<body style="position: absolute;width: 85%;height: 100%;">
<div style="height: 100px;width: 100%"></div>

<div id="container">
    <form action="modp" method="post" enctype="multipart/form-data" class="form-horizontal">
        <input type="hidden" name="id" th:value="${petInfo.id}"/>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="PetName">名称</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="PetName"
                       name="petname"
                       placeholder="宠物名" th:value="${petInfo.name}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="birth">生日</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="birth"
                       name="birth" placeholder="请输入生日"
                       th:value="${petInfo.birth}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="age">年龄</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="age"
                       name="age"
                       placeholder="请输入年龄" th:value="${petInfo.age}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="weight">体重</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="weight"
                       name="weight"
                       placeholder="请输入体重" th:value="${petInfo.weight}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="price">价格</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="price"
                       name="price"
                       placeholder="请输入价格" th:value="${petInfo.price}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="img">头像</label>
            <div class="col-sm-10">
                <input type="file" id="img" name="img" th:value="${petInfo.img}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" id="save">保 存</button>
                <button type="reset" class="btn btn-primary">重 置</button>
            </div>
        </div>
    </form>
</div>
<!--<div style="height: 400px"></div>-->
</body>
</html>