input::-webkit-input-placeholder{
    color: rgb(151,15,15);
}
*{
    margin: 0;
    padding: 0;
}
.BP{
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    /*background: url("../img/a1.jpg") no-repeat;*/
    /*width: 100%;*/
    /*background-size: 100%;*/
}
.first{
    width: 80%;
    height:80%;
    align-items: center;
    margin:0px auto;
    /*border: solid 1px cornsilk;*/
    opacity:0.7;
    position:relative;
}
.first>form>{
    padding-bottom: 5%;
    align-items: center;
    margin:0px auto;
    align-items: center;
}
.first>form>h1{
    margin-top: 5%;
    font-size:36px;
   text-align: center;
}
.first>form>input{
    width: 30%;
    height: 6%;
    display:inline-block;
}

.first>form>div{
    margin-left: 5%;
    display:inline-block;
    width:fit-content;
    margin-top: 5%;
}
