body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

  .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
.content{
    width: 1200px;
    height: 500px;
    border-radius: 5%;
    margin: 0 auto;
    margin-top: 50px;
    background: url("../images/favourite/bl1.jpg") no-repeat;
    background-size: cover;
}
.glass {
    width: 500px;
    height: 400px;
    float: left;
    margin-left: 70px;
    margin-top: 50px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(27, 0, 37, 0.89);
    border-radius: 10px;
}
.glass>p{
    text-align: center;
    margin-top: 20px;
}
.glass>p>span{
    font-size: 80px;
}

.content1{
    height: 400px;
    width: 700px;
    background-color: #fff;
    margin-left: 400px;
}
 
.content1-1>p{
    font-size: 20px;
    font-family: FangSong ;
    font-style: italic;
    font-weight: 100;
    text-align: center;
}
.content1-1{
    border: none;
}
.content2{
    height: 600px;
    width: 800px;
    margin-left: 400px;
}
.content2{
    height: 300px;
    width: 800px;
}

.content3{
    height: 400px;
    width: 800px;
    border: solid black 1px; 
    
    margin-left: 360px;
    font-size: 25px;
    letter-spacing: 4px;
}

.content3-1{
    height: 100px;
    width: 800px;
    border: solid #fff 1px; 
    margin-top: 10px;
}
.zuihou{
    width: 100%;
    height: 200px;
    background-color: rgba(94, 155, 206, 0.25);
}
.zuihou>p{
    text-align: center;
    line-height: 200px;
}
.zuihou>p>a>span{
    font-size: 60px;
}
.zuihou>p a:hover{
    color: rgba(47, 148, 161, 0.25);
}