.midlle_one{
    width:610px;
    height: 350px;
    margin: 0 auto;
}
.glass table{
    border: gray solid 0.1px;
    width: 500px;
    height: 300px;
    margin: 0 auto;
    margin-top: 20px;
}
.glass table td{
    text-align: center;
    color: white;
}

 
 .content{
    width: 750px;
    height: 500px;
    border-radius: 5%;
    margin: 0 auto;

    background: url("../img/a1.jpg") no-repeat;
    background-size: cover;
    
}
.glass {
    width: 500px;
    height: 360px;
    margin-left: 130px;
    margin-top: 30px;
    float: left;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(27, 0, 37, 0.89);
    border-radius: 10px;
}